.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* ----------------------------------------------------------- */
.body {
  margin-top: 7vh;
  height: auto;
  width: 92vw;
  background-color: white;
}
/* ----------------------------------------------------------- */
.appbar {
  width: 100%;
  height: 14%;
}

.tabs:hover {
  color: salmon;
}
/* ----------------------------------------------------------- */
.list {
  width: 100%;
  padding: 2%;
}
/* ----------------------------------------------------------- */
