.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/*-----------------------------------*/
.Box {
  padding: 1%;
  height: 12vh;
  width: 100vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.flex {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*-----------------------------------*/
.rightBox {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.inputGroup {
  width: "48%";
}
.formControl {
  width: "28%";
}
/*-----------------------------------*/

/*-----------------------------------*/
/* Media Query */
/*-----------------------------------*/
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
